.breadcrumbs {
  display: none;
}

main#maincontent {
  margin-top: 0;
}

.columns div.column.main {
  padding-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

#es-rc #es-rc-content {
  font-family: "Futura Book", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background: #ffffff;
  margin: auto;
  container: rc-main/inline-size;
  padding: 24px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content {
    font-size: 27px;
    padding: 32px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content {
    padding: 40px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content {
    max-width: 1440px;
  }
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #e2011e;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #e2011e;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content strong {
  font-family: "Futura Demi", sans-serif;
  font-weight: 700;
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  margin: 0;
  display: unset;
}
#es-rc #es-rc-content .es-slider__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img, #es-rc #es-rc-content .es-slider__buttons--next__img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img {
  transform: rotate(180deg);
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-slider__buttons {
    display: none;
  }
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Futura Demi", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-block: 8px;
  text-transform: uppercase;
  text-wrap: balance;
  color: #ffffff;
  padding: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-section-title {
    margin-block: 16px;
    font-size: 40px;
    padding: 32px;
  }
}
#es-rc #es-rc-content .es-section-title:hover {
  filter: brightness(1.1);
}
#es-rc #es-rc-content .es-section {
  margin-block: 24px;
}
#es-rc #es-rc-content .es-section__text-wrapper {
  padding: 24px;
  color: #ffffff;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-section__text-wrapper {
    width: 33%;
    min-height: 500px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-section__text-wrapper {
    width: 25%;
  }
}
#es-rc #es-rc-content .es-section__text-headline {
  font-family: "Futura Demi", sans-serif;
  line-height: 1.2;
}
#es-rc #es-rc-content .es-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-section__list {
    gap: 24px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-section__cross-wrapper {
    display: flex;
    align-items: center;
  }
}
#es-rc #es-rc-content .es-kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    flex-direction: row-reverse;
    gap: unset;
    justify-content: flex-end;
  }
}
#es-rc #es-rc-content .es-kv__right {
  max-width: 500px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__right {
    max-width: 750px;
    width: 60%;
  }
}
@media (min-width: 436px) {
  #es-rc #es-rc-content .es-kv__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__left {
    flex-direction: column;
    width: 40%;
  }
}
#es-rc #es-rc-content .es-kv__logo--img {
  max-width: 200px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__logo--img {
    max-width: 300px;
  }
}
#es-rc #es-rc-content .es-kv__text-wrapper {
  text-align: center;
  text-wrap: balance;
  max-width: 300px;
  font-size: 19.8px;
}
#es-rc #es-rc-content .es-kv__text-wrapper :not(:last-child) {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__text-wrapper {
    max-width: 500px;
  }
}
#es-rc #es-rc-content .es-kv__text--num1 {
  background-color: #e2011e;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  color: #ffffff;
  padding: 4px 8px;
  margin-block: 8px;
  font-family: "Futura Demi", sans-serif;
}
#es-rc #es-rc-content .es-kv__text--disclaimer {
  font-size: 13.2px;
  margin-top: 16px;
}
#es-rc #es-rc-content .es-sets__wrapper {
  background-color: #d6d6d6;
  padding: 16px 8px;
  margin-top: -43%;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__wrapper {
    margin-top: -29%;
    padding: 24px 16px;
  }
}
#es-rc #es-rc-content .es-sets__text {
  margin-top: 13%;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__text {
    margin-top: 4%;
  }
}
#es-rc #es-rc-content .es-sets__headline {
  font-family: "Futura Demi", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #e2011e;
  margin-bottom: 8px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__headline {
    font-size: 40px;
  }
}
#es-rc #es-rc-content .es-sets__description {
  font-size: 22px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__description {
    font-size: 25px;
  }
}
#es-rc #es-rc-content .es-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-nav__list {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 16px 40px;
    background-color: #d6d6d6;
  }
}
#es-rc #es-rc-content .es-nav__item {
  text-align: center;
  border-radius: 12px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-nav__item {
    max-width: 300px;
  }
}
#es-rc #es-rc-content .es-nav__item:hover {
  background-size: 105% 105%;
  filter: brightness(1.1);
}
#es-rc #es-rc-content .es-nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Futura Demi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-wrap: balance;
  display: block;
  padding: 14px;
  width: 100%;
}
#es-rc #es-rc-content .es-ageing__text-wrapper {
  background: #ea0021;
  background: linear-gradient(57deg, rgb(234, 0, 33) 0%, rgb(215, 0, 24) 25%, rgb(176, 0, 7) 50%, rgb(208, 4, 12) 75%, rgb(230, 7, 16) 100%);
}
#es-rc #es-rc-content .es-mature ::-moz-selection {
  background-color: #c3a354;
}
#es-rc #es-rc-content .es-mature ::selection {
  background-color: #c3a354;
}
#es-rc #es-rc-content .es-mature__text-wrapper {
  background: #d6b656;
  background: linear-gradient(57deg, rgb(214, 182, 86) 0%, rgb(203, 171, 81) 25%, rgb(195, 163, 84) 50%, rgb(229, 200, 125) 75%, rgb(240, 212, 138) 100%);
}
#es-rc #es-rc-content .es-men ::-moz-selection {
  background-color: #6e6e6e;
}
#es-rc #es-rc-content .es-men ::selection {
  background-color: #6e6e6e;
}
#es-rc #es-rc-content .es-men__text-wrapper {
  background: #888888;
  background: linear-gradient(57deg, rgb(136, 136, 136) 0%, rgb(138, 138, 138) 25%, rgb(140, 140, 140) 50%, rgb(141, 141, 141) 75%, rgb(143, 143, 143) 100%);
}
#es-rc #es-rc-content .es-cross__wrapper {
  background-repeat: no-repeat;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross__wrapper {
    width: 67%;
    height: 100%;
    padding: 24px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross__wrapper {
    width: 75%;
  }
}
#es-rc #es-rc-content .es-cross__item {
  flex: 1 1 0;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  gap: 16px;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross__item {
    margin: unset;
  }
}
#es-rc #es-rc-content .es-cross__img {
  max-width: 235px;
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__img:hover {
  transform: scale(1.05);
}
#es-rc #es-rc-content .es-cross__name {
  font-family: "Futura Demi", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__desc {
  font-size: 16px;
  margin-top: 8px;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross__cta {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  text-transform: uppercase;
  font-family: "Futura Demi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-wrap: balance;
  padding: 16px 32px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__cta:hover {
  background-color: #e2011e;
}
#es-rc #es-rc-content .es-bottom-banner {
  background-color: #cb040b;
  color: #ffffff;
  text-align: center;
  text-wrap: balance;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
#es-rc #es-rc-content .es-bottom-banner__text-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-bottom-banner__text-wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-bottom-banner__text-wrapper {
    gap: 32px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-bottom-banner__text-wrapper {
    gap: 40px;
  }
}
#es-rc #es-rc-content .es-bottom-banner__text--headline {
  font-family: "Futura Demi", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 25%;
  line-height: 0.91;
  margin-block: 16px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-bottom-banner__text--headline {
    margin-block: 24px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-bottom-banner__text--headline {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-bottom-banner__text--headline {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-bottom-banner__text--headline {
    font-size: 40px;
  }
}
#es-rc #es-rc-content .es-bottom-banner__text--description {
  font-size: 22px;
  margin-top: 8px;
  letter-spacing: 25%;
  line-height: 1;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-bottom-banner__text--description {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-bottom-banner__text--description {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  #es-rc #es-rc-content .es-bottom-banner__text--description {
    font-size: 27px;
  }
}
#es-rc #es-rc-content .es-bottom-banner__picture {
  margin-top: -65%;
  position: relative;
  z-index: -1;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-bottom-banner__picture {
    margin-top: 0;
  }
}
#es-rc #es-rc-content .es-footer__text {
  font-size: 16px;
  text-align: center;
  text-wrap: balance;
  margin-top: 16px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-footer__text {
    font-size: 18px;
  }
}