@charset "UTF-8";

// set up variables

$text-main: "Futura Book", sans-serif;
$text-secondary: "Futura Demi", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base-mb: 22px;
$fs-base-dt: 27px;
$fs-header-mb: 35px;
$fs-header-dt: 40px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #e2011e;
$color-accent-2: #d6d6d6;

$media-breakpoint-xs: 436px;
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$transition: all 0.3s ease-in-out;

// remove SPP breadcrumbs and adjust main content margin/padding
.breadcrumbs {
  display: none;
}
main#maincontent {
  margin-top: 0;
}
.columns div.column.main {
  padding-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base-mb;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background: $color-bg;
  margin: auto;
  container: rc-main / inline-size;
  padding: $px-L;

  @media (min-width: 768px) {
    font-size: $fs-base-dt;
    padding: $px-XL;
  }

  @media (min-width: 992px) {
    padding: $px-XXL;
  }

  @media (min-width: 1200px) {
    max-width: 1440px;
  }

  ::selection {
    background-color: $color-accent;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  strong {
    font-family: $text-secondary;
    font-weight: $fw-bold;
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header-mb;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    text-wrap: balance;
    color: $color-bg;
    padding: $px-L;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: $transition;
    @media (min-width: 768px) {
      font-size: $fs-header-dt;
      padding: $px-XL;
    }
    &:hover {
      filter: brightness(1.1);
    }
  }

  .es-section {
    margin-block: $px-L;
    &__text-wrapper {
      padding: $px-L;
      color: $color-bg;
      @media (min-width: $media-breakpoint-lg) {
        width: 33%;
        min-height: 500px;
      }
      @media (min-width: $media-breakpoint-xl) {
        width: 25%;
      }
    }
    &__text-headline {
      font-family: $text-secondary;
      line-height: 1.2;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: $px-M;
      li {
        line-height: 1;
      }
      @media (min-width: $media-breakpoint-md) {
        gap: $px-L;
      }
    }
    &__cross-wrapper {
      @media (min-width: $media-breakpoint-lg) {
        display: flex;
        align-items: center;
      }
    }
  }

  .es-kv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $px-XL;
    @media (min-width: $media-breakpoint-md) {
      flex-direction: row-reverse;
      gap: unset;
      justify-content: flex-end;
    }
    &__right {
      max-width: 500px;
      @media (min-width: $media-breakpoint-md) {
        max-width: 750px;
        width: 60%;
      }
    }
    &__left {
      @media (min-width: $media-breakpoint-xs) {
        display: flex;
        align-items: center;
        gap: $px-L;
      }
      @media (min-width: $media-breakpoint-md) {
        flex-direction: column;
        width: 40%;
      }
    }
    &__logo {
      &--img {
        max-width: 200px;
        @media (min-width: $media-breakpoint-md) {
          max-width: 300px;
        }
      }
    }
    &__text-wrapper {
      text-align: center;
      text-wrap: balance;
      max-width: 300px;
      font-size: calc($fs-base-mb * 0.9);
      :not(:last-child) {
        text-transform: uppercase;
      }
      @media (min-width: $media-breakpoint-md) {
        max-width: 500px;
      }
    }
    &__text--num1 {
      background-color: $color-accent;
      max-width: max-content;
      margin: auto;
      color: $color-bg;
      padding: $px-XS $px-S;
      margin-block: $px-S;
      font-family: $text-secondary;
    }
    &__text--disclaimer {
      font-size: calc($fs-base-mb * 0.6);
      margin-top: $px-M;
    }
  }

  .es-sets {
    &__wrapper {
      background-color: $color-accent-2;
      padding: $px-M $px-S;
      margin-top: -43%;
      @media (min-width: $media-breakpoint-md) {
        margin-top: -29%;
        padding: $px-L $px-M;
      }
    }

    &__text {
      margin-top: 13%;
      text-align: center;
      text-wrap: balance;
      @media (min-width: $media-breakpoint-md) {
        margin-top: 4%;
      }
    }
    &__headline {
      font-family: $text-secondary;
      font-size: 32px;
      font-weight: $fw-bold;
      color: $color-accent;
      margin-bottom: $px-S;
      text-transform: uppercase;
      @media (min-width: $media-breakpoint-md) {
        font-size: 40px;
      }
    }
    &__description {
      font-size: 22px;
      @media (min-width: $media-breakpoint-md) {
        font-size: 25px;
      }
    }
  }

  .es-nav {
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: $px-S;
      justify-content: center;

      @media (min-width: $media-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        gap: $px-M;
        padding: $px-M $px-XXL;
        background-color: $color-accent-2;
      }
    }
    &__item {
      text-align: center;
      border-radius: 12px;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;

      @media (min-width: $media-breakpoint-md) {
        max-width: 300px;
      }
      &:hover {
        background-size: 105% 105%;
        filter: brightness(1.1);
      }
    }
    &__link {
      text-decoration: none;
      color: $color-bg;
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 20px;
      text-wrap: balance;
      display: block;
      padding: 14px;
      width: 100%;
    }
  }

  .es-ageing {
    &__text-wrapper {
      background: #ea0021;
      background: linear-gradient(
        57deg,
        rgba(234, 0, 33, 1) 0%,
        rgba(215, 0, 24, 1) 25%,
        rgba(176, 0, 7, 1) 50%,
        rgba(208, 4, 12, 1) 75%,
        rgba(230, 7, 16, 1) 100%
      );
    }
  }

  .es-mature {
    ::selection {
      background-color: #c3a354;
    }
    &__text-wrapper {
      background: #d6b656;
      background: linear-gradient(
        57deg,
        rgba(214, 182, 86, 1) 0%,
        rgba(203, 171, 81, 1) 25%,
        rgba(195, 163, 84, 1) 50%,
        rgba(229, 200, 125, 1) 75%,
        rgba(240, 212, 138, 1) 100%
      );
    }
  }

  .es-men {
    ::selection {
      background-color: #6e6e6e;
    }
    &__text-wrapper {
      background: #888888;
      background: linear-gradient(
        57deg,
        rgba(136, 136, 136, 1) 0%,
        rgba(138, 138, 138, 1) 25%,
        rgba(140, 140, 140, 1) 50%,
        rgba(141, 141, 141, 1) 75%,
        rgba(143, 143, 143, 1) 100%
      );
    }
  }

  .es-cross {
    &__wrapper {
      background-repeat: no-repeat;
      @media (min-width: $media-breakpoint-lg) {
        width: 67%;
        height: 100%;
        padding: $px-L;
      }
      @media (min-width: $media-breakpoint-lg) {
        width: 75%;
      }
    }
    &__products {
      display: flex;
      flex-direction: column;
      gap: $px-L;
      @media (min-width: $media-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        gap: $px-XXL;
      }
    }
    &__item {
      flex: 1 1 0;
      max-width: 300px;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      gap: $px-M;
      @media (min-width: $media-breakpoint-lg) {
        margin: unset;
      }
    }
    &__img {
      max-width: 235px;
      transition: $transition;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__name {
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 16px;
      text-transform: uppercase;
    }
    &__desc {
      font-size: 16px;
      margin-top: $px-S;
      text-transform: uppercase;
    }
    &__cta {
      display: block;
      width: 100%;
      text-decoration: none;
      color: $color-bg;
      background-color: $color-main;
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 20px;
      text-wrap: balance;
      padding: $px-M $px-XL;
      border-radius: 12px;
      transition: $transition;
      &:hover {
        background-color: $color-accent;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones
  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  .es-bottom-banner {
    background-color: #cb040b;
    color: $color-bg;
    text-align: center;
    text-wrap: balance;
    overflow: hidden;
    position: relative;
    z-index: 0;
    &__text {
      &-wrapper {
        padding: $px-L;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $px-L;
        @media (min-width: $media-breakpoint-md) {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          max-width: 700px;
        }
        @media (min-width: $media-breakpoint-lg) {
          gap: $px-XL;
        }
        @media (min-width: $media-breakpoint-xl) {
          gap: $px-XXL;
        }
      }
      &--headline {
        font-family: $text-secondary;
        text-transform: uppercase;
        font-size: 35px;
        letter-spacing: 25%;
        line-height: 0.91;
        margin-block: $px-M;
        @media (min-width: $media-breakpoint-sm) {
          margin-block: $px-L;
        }
        @media (min-width: $media-breakpoint-md) {
          font-size: 32px;
        }
        @media (min-width: $media-breakpoint-lg) {
          font-size: 35px;
        }
        @media (min-width: $media-breakpoint-xl) {
          font-size: 40px;
        }
      }
      &--description {
        font-size: 22px;
        margin-top: $px-S;
        letter-spacing: 25%;
        line-height: 1;
        @media (min-width: $media-breakpoint-md) {
          font-size: 18px;
        }
        @media (min-width: $media-breakpoint-lg) {
          font-size: 20px;
        }
        @media (min-width: $media-breakpoint-xl) {
          font-size: 27px;
        }
      }
    }

    &__picture {
      margin-top: -65%;
      position: relative;
      z-index: -1;
      @media (min-width: $media-breakpoint-md) {
        margin-top: 0;
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
