@charset "UTF-8";

// set up variables

$text-main: "Futura Book", sans-serif;
$text-secondary: "Futura Demi", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base-mb: 22px;
$fs-base-dt: 27px;
$fs-header-mb: 35px;
$fs-header-dt: 40px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #e2011e;
$color-accent-2: #d6d6d6;

$media-breakpoint-xs: 436px;
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

$transition: all 0.3s ease-in-out;

// remove SPP breadcrumbs and adjust main content margin/padding
.breadcrumbs {
  display: none;
}
main#maincontent {
  margin-top: 0;
}
.columns div.column.main {
  padding-bottom: 0;
}

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base-mb;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background: $color-bg;
  margin: auto;
  container: rc-main / inline-size;
  padding: $px-L;
  max-width: 1440px;

  @media (min-width: 768px) {
    font-size: $fs-base-dt;
    padding: $px-XL;
  }

  @media (min-width: 992px) {
    padding: $px-XXL;
  }

  ::selection {
    background-color: $color-accent;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  strong {
    font-family: $text-secondary;
    font-weight: $fw-bold;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header-mb;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    @container rc-main (min-width: 768px) {
      font-size: $fs-header-dt;
    }
  }

  .es-section {
    margin-block: $px-L;
  }

  .es-kv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $px-XL;
    @container rc-main (min-width: 768px) {
      flex-direction: row-reverse;
    }
    &__right {
      max-width: 500px;
      @container rc-main (min-width: 768px) {
        max-width: 550px;
        width: 60%;
      }
    }
    &__left {
      @container rc-main (min-width: 436px) {
        display: flex;
        align-items: center;
        gap: $px-L;
      }
      @container rc-main (min-width: 768px) {
        flex-direction: column;
      }
    }
    &__logo {
      &--img {
        max-width: 200px;
        @container rc-main (min-width: 768px) {
          max-width: 300px;
        }
      }
    }
    &__text-wrapper {
      text-align: center;
      text-wrap: balance;
      max-width: 300px;
      font-size: calc($fs-base-mb * 0.9);
      :not(:last-child) {
        text-transform: uppercase;
      }
      @container rc-main (min-width: 768px) {
        max-width: 500px;
      }
    }
    &__text--num1 {
      background-color: $color-accent;
      max-width: max-content;
      margin: auto;
      color: $color-bg;
      padding: $px-XS $px-S;
      margin-block: $px-S;
      font-family: $text-secondary;
    }
    &__text--disclaimer {
      font-size: calc($fs-base-mb * 0.6);
      margin-top: $px-M;
    }
  }

  .es-sets {
    &__wrapper {
      background-color: $color-accent-2;
      padding: $px-M $px-S;
      margin-top: -43%;
      @container rc-main (min-width: 768px) {
        margin-top: -28%;
      }
    }

    &__text {
      margin-top: 10%;
      text-align: center;
      text-wrap: balance;
      @container rc-main (min-width: 768px) {
        margin-top: 4%;
      }
    }
    &__headline {
      font-family: $text-secondary;
      font-size: 32px;
      font-weight: $fw-bold;
      color: $color-accent;
      margin-bottom: $px-S;
      text-transform: uppercase;
      @container rc-main (min-width: 768px) {
        font-size: 40px;
      }
    }
    &__description {
      font-size: 22px;
      @container rc-main (min-width: 768px) {
        font-size: 25px;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones
  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
