.breadcrumbs {
  display: none;
}

main#maincontent {
  margin-top: 0;
}

.columns div.column.main {
  padding-bottom: 0;
}

#es-rc #es-rc-content {
  font-family: "Futura Book", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background: #ffffff;
  margin: auto;
  container: rc-main/inline-size;
  padding: 24px;
  max-width: 1440px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content {
    font-size: 27px;
    padding: 32px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content {
    padding: 40px;
  }
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #e2011e;
  color: #ffffff;
}
#es-rc #es-rc-content ::selection {
  background-color: #e2011e;
  color: #ffffff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content strong {
  font-family: "Futura Demi", sans-serif;
  font-weight: 700;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Futura Demi", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-block: 16px;
  text-transform: uppercase;
}
@container rc-main (min-width: 768px) {
  #es-rc #es-rc-content .es-section-title {
    font-size: 40px;
  }
}
#es-rc #es-rc-content .es-section {
  margin-block: 24px;
}
#es-rc #es-rc-content .es-kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    flex-direction: row-reverse;
    gap: unset;
    justify-content: flex-end;
  }
}
#es-rc #es-rc-content .es-kv__right {
  max-width: 500px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__right {
    max-width: 750px;
    width: 60%;
  }
}
@media (min-width: 436px) {
  #es-rc #es-rc-content .es-kv__left {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__left {
    flex-direction: column;
    width: 40%;
  }
}
#es-rc #es-rc-content .es-kv__logo--img {
  max-width: 200px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__logo--img {
    max-width: 300px;
  }
}
#es-rc #es-rc-content .es-kv__text-wrapper {
  text-align: center;
  text-wrap: balance;
  max-width: 300px;
  font-size: 19.8px;
}
#es-rc #es-rc-content .es-kv__text-wrapper :not(:last-child) {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__text-wrapper {
    max-width: 500px;
  }
}
#es-rc #es-rc-content .es-kv__text--num1 {
  background-color: #e2011e;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  color: #ffffff;
  padding: 4px 8px;
  margin-block: 8px;
  font-family: "Futura Demi", sans-serif;
}
#es-rc #es-rc-content .es-kv__text--disclaimer {
  font-size: 13.2px;
  margin-top: 16px;
}
#es-rc #es-rc-content .es-sets__wrapper {
  background-color: #d6d6d6;
  padding: 16px 8px;
  margin-top: -43%;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__wrapper {
    margin-top: -29%;
    padding: 24px 16px;
  }
}
#es-rc #es-rc-content .es-sets__text {
  margin-top: 13%;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__text {
    margin-top: 4%;
  }
}
#es-rc #es-rc-content .es-sets__headline {
  font-family: "Futura Demi", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #e2011e;
  margin-bottom: 8px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__headline {
    font-size: 40px;
  }
}
#es-rc #es-rc-content .es-sets__description {
  font-size: 22px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-sets__description {
    font-size: 25px;
  }
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  margin: 0;
  display: unset;
}
#es-rc #es-rc-content .es-slider__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img, #es-rc #es-rc-content .es-slider__buttons--next__img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img {
  transform: rotate(180deg);
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}/*# sourceMappingURL=styles.css.map */